{{ layout "layout.html" }}

{{ define "left_column" }}
    {{ $context := . }}
    {{ handler "provider" "getbuttons" $context.SelectedProvider $context.SearchTerm }}
{{end}}

{{ define "right_column" }}
    {{ $context := . }}
    {{ range $context.Products }}
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>
                <span class="d-inline-block text-truncate" style="max-width: 750px;">
                    {{ .Name }}
                </span>
                <span class="badge rounded-pill bg-primary" style="float:right">
                    <small>{{ printf "￥%.2f" .Price }}</small>
                </span>
            </h4>
        </div>
        <h5><span class="badge bg-success m-1">{{ .Vendor }}</span></h5>
        <a href="http://{{ .OriginalURL }}" class="card-link card-text p-1" target="_blank">{{ .OriginalURL }}</a>
    </div>
    {{ end }}
{{end}}
