{{ $context := . }}
{{ $emptyStr := "all" }}

<div class="d-grid gap-2">
    <a
            {{ if eq $context.SelectedProvider $emptyStr }}
            class="btn btn-primary"
            {{ else }}
            class="btn btn-outline-primary"
            {{ end }}
            href="{{ call $context.ProviderUrlFunc $emptyStr }}">All</a>
    {{ range $context.Providers }}
    <a
            {{ if eq $context.SelectedProvider $emptyStr }}
            class="btn btn-primary"
            {{ else }}
            class="btn btn-outline-primary"
            {{ end }}
            href="{{ call $context.ProviderUrlFunc $context.SelectedProvider }}">{{ $context.SelectedProvider }}</a>
    {{ end }}
</div>
